@import "../../variables/variables.scss";
.form {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: $titlesize;
}
form button {
  margin-left: 10px;
  border: 0.2px solid grey;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 500px) {
  .form input {
    width: 80%;
  }
  .App-title {
    font-size: 30px;
  }
}
form {
  display: flex;
}
form input {
  height: 30px;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
